

button, input[type='button'] {
   padding: .5em 1em;
   border-radius: 0.5em;
   border: none;
   background: var( --azul );
   box-shadow: var( --purple-light ) 0 2px 0 1px;
   transform: translateY( -1px );
   font-size: 1.25rem;
   line-height: 1.75rem;
   color: #fff;
   transition: .15s all ease;
   cursor: pointer;
}
button:hover, input[type='button']:hover {
   box-shadow: var( --purple-light ) 0 4px 0 1px;
   transform: translateY( -3px );
   transition: .15s all ease;
}
button:active, input[type='button']:active {
   box-shadow: var( --purple-light ) 0 2px 0 1px;
   transform: translateY( -1px );
   transition: .15s all ease;
}

buttons {
   display: flex;
   gap: .5em;
   padding: 1em 0;
   flex-wrap: wrap;
}